/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 23, 2018, 8:27:12 PM
    Author     : smipat
*/
body {
    margin: 0;
}

/* Create two equal columns that floats next to each other */
.column {
     box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 10px;
    height: 100px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.borderBottom {
    content: "";
    display: table;
    clear: both;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-family: Arial;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.topright:hover {color: red;}
pre {
    background: #ffffff;
    text-shadow: 1px 1px #fff;
    padding: 7px;
    margin: 5px 0;
    border-radius: 7px;
    border: none;
}

.colorProductPage
{
    color: #222;
}
.bottomLine
{
    border-bottom: 1px solid #ddd;
}


    @charset "utf-8";

/* Main Styles */
.main {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
	padding:0 10px;
}
.dropdown {
    background: url(../images/down_arrow.svg) no-repeat #ffffff;
    height: 42px;
    overflow: hidden;
    width: 100%;
    font-size: 14px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    position: relative;
    background-position: right 15px center;
}
.dropdown select {
    background: transparent;
    border: none;
    font-weight: 400;
    height: 38px;
    padding: 12px 15px 12px 15px;
    width: 90%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    font-weight: 400;
    color: #424242;
    font-size: 14px;
    line-height: 14px;
}

button.ui-checkbox {
    background: #fff;
    border: 2px solid #a5a5a5;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    height: 20px;
    margin-right: 0;
    width: 20px;
}
button.ui-checkbox span.ui-icon-check {
    background: rgba(0, 0, 0, 0) url("../images/check_arrow.png") no-repeat scroll 0 0;
    height: 16px;
    margin-left: -6px;
    margin-top: -6px;
    width: 16px;
}
/* Header Styles */

#header {
    width: 100%;
    position: relative;
}
.header-main{
    width: 100%;
}
.header-strip{
    height: 35px;
    background: #323c8d;
}
.download-link{
    font-size: 14px;
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 9px;
    font-weight: 400;
    text-transform: uppercase;
    float: left;
}
.download-link a{
    color: #fff;
}
.download-link a i{
    padding-left: 5px;
}
.download-link a:hover{
    text-decoration: underline;
}
.contact-strip{
    float: right;
    font-size: 14px;
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 9px;
    color: #fff;
}
.contact-strip a{
    color: #fff;
}
.contact-strip a:hover{
    text-decoration: underline;
}
.contact-strip.mobile{
    display: none;
}
.contact-strip i{
    line-height: 16px;
    font-size: 16px;
    width: 16px;
    height: 16px;
}
.header-top{
    width: 100%;
    padding: 17px 0;
}
.header-left {
    float: left;
    width: 50%;
}
.logo-box{
    float: left;
    height: 60px;
}
.header-icons{
    float: right;
    padding: 8px 10px 8px 0;
    display: none;
}
.header-icons a{
    float: right;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 20px;
}
.header-icons a.menu-icon{
    margin-right: 0;
}
.header-icons a i{
    color: #323c8d;
    font-size: 24px;
    line-height: 24px;
}
.header-right {
    float: right;
    width: 50%;
}
.search-box{
    border: 2px solid #e1e1e1;
    width: 300px;
    height: 24px;
    background: #f6f6f6;
    float: right;
    padding: 2px 10px;
    padding-right: 0;
    margin-top: 14px;
    margin-bottom: 14px;
    position: relative;
}
.search-box input{
    font-size: 14px;
    color: #666666;
    line-height: 24px;
    font-weight: 400;
    background: #f6f6f6;
    width: 90%;
}
.search-box i{
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #666666;
    display: inline;
    float: right;
    text-align: center;
    position: relative;
    vertical-align: middle;
    margin-top: -2px;
}
.search-box input::-webkit-input-placeholder {
    color: #666666;
}
.search-box input:-moz-placeholder {
    color: #666666;
}
.search-box input::-moz-placeholder {
    color: #666666;
}
.search-box input:-ms-input-placeholder {
    color: #666666;
}
.search-result-box{
    position: absolute;
    top: 28px;
    left: 0;
    width: 100%;
    z-index: 99;
    display: none;
}
.search-loader{
    background: #fff;
    text-align: center;
    padding: 15px 0;
    border:2px solid #e1e1e1;
    display: none;
}
.searc-loader-img{
    
}
.searc-loader-img img{
    height: 40px;
}
.search-loader-line{
    font-size: 12px;
    font-weight: 600;
    color: #424242;
    line-height: 16px;
}
.search-result-box-inner{
    background: #f6f6f6;
    border:2px solid #e1e1e1;
    border-bottom-width: 1px;
}
.search-result-box-inner ul li{
    border-bottom: 1px solid #e1e1e1;
}
.search-result-box-inner ul li a{
    color: #424242;
    display: inline-block;
    padding: 5px 3%;
    font-size: 14px;
    line-height: 20px;
    width: 94%;
}
.search-result-box-inner ul li:hover a{
    background: #323c8d;
    color: #fff;
}
.header-menu{
    width: 100%;
    background: #f1f1f1;
    border-bottom: 3px solid #323c8d;
}
.menu {
    float: left;
}
.menu ul li {
    float: left;
    line-height: 20px;
    font-size: 16px;
    color: #6d6d6d;
    font-weight: 400;
}
.menu ul li:hover,.menu ul li.active{
    background: #323c8d;
}
.menu ul li.hassubnav{
    position: relative;
}
.menu ul li.hassubnav i{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    width: 16px;
    height: 16px;
    text-align: center;
    color: #323c8d;   
    display: none;
}
.menu ul li.hassubnav ul{
    position: absolute;
    left: 0;
    top: 30px;
    width: 200px;
    display: none;
    padding-top: 10px;
    z-index: 11;
}
.menu ul li.hassubnav:hover > ul{
    display: block;
}
.menu ul li.hassubnav ul li{
    padding: 0;
    background: #323c8d;
    border-bottom: 1px solid #fff;
    font-size: 14px;
    line-height: 20px;
}
.menu ul li.hassubnav ul li:hover{
    background: #f1f1f1;
}
.menu ul li a {
    color: #6d6d6d;
    padding: 10px 20px;
    display: inline-block;
}
.menu ul li.hassubnav ul li a{
    color: #fff;
    padding: 8px 15px;
    display: inline-block;
    width: 180px;
}
.menu ul li a:hover,.menu ul li:hover a,.menu ul li.active a{
    color: #ffffff;
}
.menu ul li.hassubnav ul li a:hover,.menu ul li.hassubnav ul li:hover a{
    color: #323c8d;
}
.byp-cta{
    background: #323c8d;
    float: right;
    color: #fff;
}
.byp-cta a{
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
}
.byp-cta a i{
    padding-right: 5px;
}
.social-box{
    float: left;
    padding-top: 6px;
    padding-bottom: 5px;
}
.social-box a{
    display: inline-block;
    float: left;
    color: #fff;
    padding-right: 10px;
}
.social-box a.last{
    margin-right: 0;
    border-right: none;
}
.social-box a i{
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: #fff;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: center;
    margin-top: -2px;
}
.menu-mobile{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    display: none;
}
.menu-mobile i{
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.menu-mobile:hover{
    cursor: pointer;
}
.header-slider{
    width: 100%;
    position: relative;
    max-height: 505px;
    overflow: hidden;
}
.slider_cta{
    position: absolute;
    bottom: 30px;
    right: 30px;
}
#mid-section{
    width: 100%;
    padding: 30px 0;
}
.category-section{
    padding-bottom: 30px;
}
.category-box{
    width: 202px;
    float: left;
    margin-right: 40px;
    margin-bottom: 14px;
    position: relative;
    height: 170px;
}
.category-box:nth-child(5n){
    margin-right: 0;
}
.category-box .category-img img{
    width: 200px;
    height: 168px;
    border: 1px solid #929292;
}
.category-box .category-img{
    width: 200px;
    height: 168px;
    background: #f5f5f5;
}
.category-box .category-title{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 36px;
    text-align: right;
    padding-right: 10px;
    background: rgba(56,56,56,0.8);
    font-size: 16px;
    line-height: 36px;
    display: none;
    color: #fff;
}
.category-box .category-title a{
    color: #fff;
}
.category-box .category-title a:hover{
    text-decoration: underline;
}
.category-box:hover{
    cursor: pointer;
}
/*.category-box:hover > .category-title{
    display: block;
}*/
.deal-section{
    padding-bottom: 15px;
}
.deal-title{
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 20px;
    color: #e31e24;
    font-weight: 700;
}
.deal-box{
    float: left;
    width: 233px;
    margin-right: 79px;
    position: relative;
    overflow: hidden;
}
.ribbon-box{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
}
.ribbon-text{
    text-align: center;
    position: relative;
    padding: 5px 0;
    background-color: #323c8d;
    color: #FFF;
}
.deal-box .deal-img{
    border: 1px solid #929292;
    width: 231px;
    height: 196px;
    margin-bottom: 40px;
}
.deal-box .deal-img img{
    width: 231px;
    height: 196px;
}
.deal-box:nth-child(4n){
    margin-right: 0;
}
.homepage .deal-box:nth-child(4n){
    margin-right: 79px;
}
.homepage .deal-box:nth-child(5n){
    margin-right: 0px;
}
.deal-box .deal-title{
    font-size: 16px;
    font-weight: 700;
    color: #393939;
    text-transform: uppercase;
    line-height: 20px;
    padding-bottom: 5px;
}
.deal-box .deal-text{
    color: #585858;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.deal-box .deal-cta a{
    background: #e31e24;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    width: 180px;
    line-height: 24px;
    padding: 7px 0;
    text-align: center;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    transition-duration: .3s;
    -o-transition-duration: .3s;
    -webkit-transition-duration: .3s;
}
.deal-box .deal-cta a:hover{
    background: #323c8d;
}
.deal-more{
    text-align: right;
}
.deal-more a{
    color: #e31e24;
    font-size: 14px;
    font-weight: 700;
}
.deal-more a i{
    padding-left: 10px;
}
.accessories-section .deal-more{
    padding-top: 10px;
}
#byd-section{
    background: #f1f1f1;
    width: 100%;
    padding: 50px 0;
}
.byp-title{
    font-weight: 700;
    font-size: 24px;
    color: #e31e24;
    line-height: 36px;
    padding-bottom: 20px;
}
.byp-data .byp-text{
    float: left;
    font-size: 16px;
    line-height: 30px;
    color: #666666;
    width: 70%;
    float: left;
}
.byp-data .byp-cta{
    float: right;
    margin-top: 10px;
    background: none;
}
.byp-data .byp-cta a{
    width: 250px;
    font-size: 20px;
    line-height: 30px;
    padding: 9px 0;
    text-align: center;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    color: #fff;
    background: #e31e24;
    display: inline-block;
    text-transform: uppercase;
    transition-duration: .3s;
    -o-transition-duration: .3s;
    -webkit-transition-duration: .3s;
}
.byp-data .byp-cta a:hover{
   background: #323c8d; 
}
#bottom-section{
    padding: 50px 0;
    width: 100%;
    padding-bottom: 30px;
}
.accessories-section{
    padding-bottom: 60px;
}
.accessories-section .acc-title{
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 30px;
    color: #e31e24;
    font-weight: 700;
}
.accessories-section .acc-box{
    width: 202px;
    height: 170px;
    float: left;
    margin-right: 40px;
    background: #f5f5f5;
}
.accessories-section .acc-box:nth-child(5n){
    margin-right: 0;
}
.accessories-section .acc-box img{
    width: 200px;
    height: 168px;
    border: 1px solid #929292;
}
#quote-section{
    background: #f1f1f1;
    width: 100%;
    padding: 40px 0;
}
#quote-section .quote-data{
    width: 70%;
    float: left;
}
.quote-data .quote-title{
    font-weight: 700;
    font-size: 24px;
    color: #e31e24;
    line-height: 36px;
    padding-bottom: 20px;
    text-align: left;
}
.quote-data .quote-text{
    font-size: 16px;
    line-height: 20px;
    color: #666666;
}
.quote-cta{
    float: right;
    margin-top: 20px;
}
.quote-cta a{
    width: 250px;
    font-size: 20px;
    line-height: 30px;
    padding: 9px 0;
    text-align: center;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    color: #fff;
    background: #e31e24;
    display: inline-block;
    text-transform: uppercase;
    transition-duration: .3s;
    -o-transition-duration: .3s;
    -webkit-transition-duration: .3s;
}
.quote-cta a:hover{
   background: #323c8d; 
}
.brand-section{
    width: 100%;
    height: 90px;
    overflow-y: hidden;
}
#footer-main{
    /*background: #303030;*/
    background: #8E8E8E;
    padding-top: 40px;
    padding-bottom: 20px;
}
.footer-top{
    padding-bottom: 30px;
    border-bottom: 1px solid #a5a5a5;
}
.footer-info{
    float: left;
    width: 350px;
    margin-right: 50px;
}
.footer-info .footer-logo{
    padding-bottom: 20px;
}
.footer-info .contact-info{
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}
.footer-info .contact-info h3{
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.footer-info .contact-info a{
    color: #fff;
    text-decoration: underline;
}
.tel-mobile{
    display: none;
}
.footer-links{
    float: left;
    margin-right: 30px;
}
.footer-links.first{
    width: 200px;
}
.footer-links.second{
    width: 280px;
}
.footer-links ul li{
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 11px;
    font-weight: 400;
}
.footer-links ul li a{
    color: #fff;
}
.footer-links ul li a:hover{
    color: #424242;
}
.footer-testimonial{
    float: left;
    width: 540px;
    margin-right: 50px;
}
.footer-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 10px;
    color: #fff;
}
.footer-testimonial .testimonial-data{
    font-size: 14px;
    line-height: 20px;
    color: #b7b7b7;
    font-style: italic;
    padding-bottom: 10px;
    text-align: justify;
}
.footer-testimonial .testimonial-data i{
    color: #fff;
    padding-right: 10px;
}
.footer-testimonial .testimonial-data i.last{
    padding-right: 0;
    padding-left: 10px;
}
.footer-testimonial .testimonial-by{
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}
.fsocial-box{
    padding-top: 15px;
}
.footer-social{
    float: left;
    width: 230px;
}
.footer-social a{
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    display: inline-block;
    text-align: center;
    float: left;
    margin-right: 20px;
    transition-duration: .3s;
    -o-transition-duration: .3s;
    -webkit-transition-duration: .3s;
}
.footer-social a:hover{
    transform: scale(1.1); 
}
.footer-social a.last{
    margin-right: 0;
}
.footer-social a i{
    font-size: 20px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: #757575;
    text-align: center;
    padding: 3px;
}
.footer-bottom{
    padding-top: 20px;
}
.footer-bottom .counter-box{
    float: left;
    height: 20px;
}
.footer-bottom .counter-box img{
    height: 20px;
}
.copyright{
    font-size: 14px;
    float: left;
    color: #fff;
    line-height: 26px;
    padding-top: 30px;
}
.developedby{
    font-size: 14px;
    float: right;
    color: #ffffff;
    line-height: 20px;
}
.developedby a{
    color: #fff;
}
.web-counter img{
    height: 22px;
}
/* slider css */
.slider-btn{
    font-size: 20px;
    line-height: 24px;
    width: 164px;
    border: 2px solid #e31e24;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    color: #e31e24;
    text-decoration: none;
    text-align: center;
    padding: 6px 0;
    text-transform: uppercase;
    display: none;
}
.slider-btn.active{
    display: inline-block;
}
/* slider css */

.page-title{
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 20px;
    color: #e31e24;
    font-weight: 700;
}
.page-title h1{
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
}
.shop-section .product-box{
    float: left;
    width: 270px;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative
}
.shop-section .product-box:hover{
    cursor: pointer;
}
.shop-section .product-box:nth-child(4n){
    margin-right: 0;
}
.shop-section .product-box .product-img{
    border: 2px solid #d5d5d5;
    background: #f5f5f5;
}
.shop-section .product-box .product-img img{
    width: 266px;
    height: 228px;
}
.product-box .product-title{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #393939;
    text-align: center;
    padding-top: 10px;
    line-height: 18px;
}
.product-box .product-title a{
    color: #393939;
}
.product-box .product-title a:hover{
    text-decoration: underline;
    color: #e31e24;
}
.shop-filter{
    float: left;
    width: 248px;
    margin-right: 50px;
    border: 1px solid #d5d5d5;
    background: #f5f5f5;
}
.shop-filter .dropdown{
    border: 2px solid #d5d5d5;
    background-color: #f5f5f5;
    width: 266px;
    margin: 0 auto;
    border-radius: 0px;
    height: 32px;
    display: none;
}
.dropdown select{
    color: #424242;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 10px;
    height: 32px;
    width: 266px;
}
.shop-filter h3{
    padding: 10px;
    background: #323c8d;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}
.shop-filter h3.first{
    border-top: none;
}
.shop-filter .filter-list{
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
    padding-left: 15px;
    border: none;
}
.shop-filter .filter-list#brand-list,.shop-filter .filter-list#tag-list{
    padding: 15px;
}
.shop-filter .filter-list ul li{
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}
.shop-filter .filter-list ul li.ui-button{
    border: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    text-align: left;
    padding-bottom: 10px;
}
.shop-filter .filter-list ul li.ui-button:hover{
    background: none;
}
.shop-filter .filter-list ul li.ui-button span{
    padding: 0;
}
.shop-filter .filter-list ul li a{
    color: #323c8d;
}
.shop-filter .filter-list ul li i{
    color: #323c8d;
    padding-right: 5px;
}
.shop-filter .filter-list ul ul{
    padding-left: 15px;
    padding-top: 10px;
}
.shop-filter .filter-list ul li a.active{
    color: #e31e24;
}
.shop-filter .filter-list ul li a.active i{
    color: #e31e24;
}
.shop-section-right{
    float: left;
    width: 870px;
}
.shop-section-right .product-box{
    float: left;
    width: 270px;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
}
.shop-section-right .product-box:hover{
    cursor: pointer;
}
.shop-section-right .product-box:nth-child(3n){
    margin-right: 0;
}
.shop-section-right .product-box .product-img{
    border: 2px solid #d5d5d5;
    background: #f5f5f5;
}
.shop-section-right .product-box .product-img:hover{
}
.shop-section-right .product-box .product-img img{
    width: 266px;
    height: 228px;
}
.shop-headleft{
    float: left;
    width: 520px;
}
.shop-headright{
    float: right;
    width: 200px;
}
.shop-headmiddle{
    width: auto;
    float: right;
    margin-right: 20px;
}
.price-filter.dropdown{
    width: 200px;
    border-radius: 0;
    height: 32px;
    background-color: #f5f5f5;
    border: 2px solid #d5d5d5;
}
.price-filter.dropdown select{
    width: 200px;
    color: #424242;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    height: 32px;
}
.filter-list ul li label{
    color: #323c8d;
    padding-left: 5px;
    line-height: 20px;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    vertical-align: middle;
}
.productdetail .page-title{
    margin-bottom: 30px;
    padding-bottom: 0;
    color: #323c8d;
}
.page-title h3{
    color: #323c8d;
    font-size: 16px;
    line-height: 20px;
    text-transform: none;
}
.product-left{
    width: 454px;
    margin-right: 30px;
    float: left;
}
.product-left .product-img{
    background: #f5f5f5;
    border: 2px solid #d5d5d5;
    width: 450px;
    height: 386px;
}
.product-left .product-img img{
    width: 450px;
    height: 386px;
}
.product-right{
    float: left;
    width: 686px;
}
.product-review{
    border-top: 1px solid #E0E0E0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.product-review .rev-star{
    float: left;
}
.product-review .rev-count{
    float: left;
    padding-left: 10px;
    color: #323c8d;
    font-size: 16px;
    line-height: 20px;
}
.product-review .rev-count a{
    color: #323c8d;
}
.product-review .rev-count a:hover{
    text-decoration: underline;
}
.product-review .write-review{
    float: right;
}
.product-review .write-review a{
    color: #323c8d;
    text-decoration: underline;
}
.product-review .write-review a i{
    color: #323c8d;
    padding-right: 5px;
}
.product-review .write-review a:hover{
    text-decoration: underline;
}
.product-price{
    color: #e31e24;
    font-size: 24px;
    line-height: 30px;
    border-top: 1px solid #E0E0E0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.product-warrenty{
    font-size: 16px;
    line-height: 20px;
    color: #323c8d;
    border-top: 1px solid #E0E0E0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.product-warrenty span{
    text-transform: uppercase;
    font-weight: 700;
}
.product-quote{
    border-top: 1px solid #E0E0E0;
    padding-top: 20px;
    text-align: right;
}
.product-quote a{
    display: inline-block;
    background: #323c8d;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 15px;
}
.product-tabs{
    margin-top: 30px;
}
.ui-tabs{
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
}
.ui-tabs .ui-tabs-nav{
    background: none;
    border: none;
    padding: 0;
}
.ui-tabs .ui-tabs-nav li{
    border:2px solid #d5d5d5;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: none;
    border-bottom: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active{
    background: #f5f5f5;
    margin-bottom: -2px;
    padding-bottom: 2px;
}
.ui-tabs .ui-tabs-nav li a{
    color: #323c8d;
}
.ui-tabs .ui-tabs-panel{
    margin: 0;
    padding: 0;
    border: 2px solid #d5d5d5;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    background: #f5f5f5;
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    color: #424242;
    padding-top: 20px;
}
.ui-tabs .ui-tabs-panel p{
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0;
}
.ui-tabs .ui-tabs-panel ul{
    margin: 0;
    padding: 0;
}
.ui-tabs .ui-tabs-panel ul li{
    background: url(../images/right_arrow.png) no-repeat;
    line-height: 24px;
    padding-left: 24px;
    padding-bottom: 10px;
}
.review-box{
    margin-bottom: 30px;
    padding: 0 10px;
}
.review-head{
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 10px;
}
.review-head .review-by{
    float: left;
    font-weight: 700;
    line-height: 24px;
    padding-right: 10px;
}
.review-head .review-star{
    float: left;
}
.review-head .review-on{
    float: right;
    text-transform: uppercase;
    line-height: 24px;
}
.review-box .review-content{
    font-size: 14px;
    line-height: 18px;
}
.review-box .review-content p{
    font-size: 14px;
    line-height: 18px;
}
.other-products{
    margin-top: 50px;
}
.other-product-title{
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #e31e24; 
    text-align: center;
    font-weight: 700;
}
#contact-box{
    width: 100%;
    height: 400px;
    border-bottom: 2px solid #d5d5d5;
}
.markerlabels {
    width: 48px;     
    height: 48px;
    margin-left: -20px !important;
    margin-top: -60px !important;
    background:url(../images/map-marker.png) no-repeat;
}
.infoBox{
    width: 320px;
    padding-bottom: 0;
    overflow: visible !important;
    box-shadow: 0 10px 28px rgba(0,0,0,.3);
    -moz-box-shadow: 0 10px 28px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 10px 28px rgba(0,0,0,.3);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.infoBox:hover{
    cursor: pointer;
}
.infoBox:after {
    top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #FFFFFF;
	border-width: 15px;
	margin-left: -15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.windowbox-info{
    padding: 10px;
    width: 300px;
    background: #fff;
}
.windowbox-info .boxtitle{
    font-weight: 700;
    font-size: 14px;
    color: #323c8d;
    line-height: 18px;
    text-transform: uppercase;
}
.windowbox-info .boxaddress{
    padding-top: 5px;
    font-size: 12px;
    color: #424242;
    line-height: 17px;
    font-weight: 700;
    font-style: italic;
}
.windowbox-info .boxaddress.call{
    color: #323c8d;
}
.windowbox-info .boxaddress.call a{
    color: #424242;
}
.windowbox-info .boxaddress.call a:hover{
    text-decoration: underline;
}
.cform-address{
    float: left;
    width: 350px;
}
.address-logo{
    padding-bottom: 10px;
}
.address-box{
    width: 350px;
    font-size: 16px;
    color: #424242;
    line-height: 24px;
}
.address-box h3{
    color: #e31e24;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
}
.address-box span{
    color: #e31e24;
    font-size: 14px;
    font-weight: 400;
    
}
.address-text{
    padding-bottom: 10px;
}
.address-icon{
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background: #323c8d;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 3px;
}
.address-icon i{
    font-size: 22px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
}
.address-data{
    float: left;
    color: #424242;
    font-size: 14px;
    line-height: 18px;
}
.address-data.first{
    line-height: 30px;
}

.address-box span.add-small{
    text-transform: none;
    font-weight: 400;
    color: #424242;
}
.address-box a{
    color: #e31e24;
    text-decoration: underline;
}
.add-block{
    padding-bottom: 20px;
}
.cform-content{
    float: right;
    width: 600px;
}
.quote-content{
    width: 700px;
    margin: 0 auto;
}
.contact-title{
    color: #323c8d;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    padding-bottom: 10px;
}
.contact-form{
    width: 600px;
    margin: 0 auto;
}
.quote-content .contact-form{
    width: 700px;
}
.contact-subtitle{
    font-size: 18px;
    color: #323c8d;
    text-align: center;
    font-style: italic;
    padding-bottom: 20px;
}
.contact-inputbox{
    width: 45%;
    margin-right: 10%;
    float: left;
    margin-bottom: 20px;
}
.contact-inputbox.last{
    margin-right: 0;
}
.contact-inputbox.full{
    width: 100%;
    float: none;
}
.contact-inputbox .contact-input{
    width: 100%;
}
.contact-inputbox .contact-input input{
    border: 2px solid #d5d5d5;
    font-size: 16px;
    line-height: 22px;
    height: 22px;
    padding: 7px 5% 7px 5%;
    width: 88%;
    overflow: hidden;
    color: #424242;
}
.contact-input input::-webkit-input-placeholder, .contact-input textarea::-webkit-input-placeholder {
    color: #BDBDBD;
    opacity: 1;
}-
.contact-input input:-moz-placeholder, .contact-input textarea:-moz-placeholder {
    color: #BDBDBD;
    opacity: 1;
}
.contact-input input::-moz-placeholder, .contact-input textarea::-moz-placeholder {
    color: #BDBDBD;
    opacity: 1;
}
.contact-input input:-ms-input-placeholder, .contact-input textarea:-ms-input-placeholder {
    color: #BDBDBD;
    opacity: 1;
}
.contact-inputbox .contact-input textarea {
    font-size: 16px;
    line-height: 22px;
    padding: 10px 3% 10px 3%;
    width: 93%;
    overflow: hidden;
    border: none;
    color: #424242;
    height: 200px;
    border: 2px solid #d5d5d5;
    resize: none;
}
.contact-inputbox .contact-input input.error,.contact-inputbox .contact-input textarea.error{
    border-color: #f00;
}
.contact-btn{
    width: 100%;
}
.contact-btn a{
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background: #323c8d;
    padding: 10px 0;
    text-align: center;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.page-content p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #424242;
    padding: 10px 0;
}
.byp-component ul li{
    float: left;
    border: 2px solid #d5d5d5;
    display: inline-block;
    background: #fff;
    color: #323c8d;
    padding: 7px 8px;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 14px;
}
.byp-component ul li.last{
    margin-right: 0;
}
.byp-left{
    float: left;
    background: #f5f5f5;
    width: 195px;
    border: 1px solid #d5d5d5;
    margin-right: 35px;
    padding: 15px 10px;
    min-height: 693px;
}
.byp-left ul{
    
}
.byp-left ul li{
    font-size: 14px;
    text-transform: uppercase;
    color: #424242;
    margin-bottom: 10px;
    line-height: 34px;
    background: #fff;
    padding-left: 10px;
}
.byp-left ul li i{
   color: #e31e24;
    visibility: hidden;
}
.byp-left ul li button.ui-checkbox{
    width: 14px;
    height: 14px;
    border: 1px solid #a5a5a5;
}
.byp-left ul li label{
    color: #424242;
    padding-left: 2px;
    position: relative;
    vertical-align: middle;
    line-height: 14px;
}
.byp-left ul li.active label{
    color: #e31e24;
}
.byp-left ul li.active i{
    visibility: visible;
}
.byp-right{
    float: left;
    width: 916px;
    background: #f5f5f5;
    border: 1px solid #d5d5d5;
    padding-top: 15px;
}
.byp-selection{
    float: left;
    width: 315px;
    margin-right: 30px;
    margin-left: 30px;
}
.byp-section-title{
    font-size: 16px;
    color: #424242;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}
.byp-left .byp-section-title{
    padding-bottom: 30px;
    padding-left: 30px;
}
.byp-section-data{
    padding-top: 30px;
}
.byp-input{
    margin-bottom: 10px;
    float: left;
    width: 250px;
}
.byp-input.dropdown{
    border: 1px solid #d5d5d5;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    height: 32px;
    text-transform: uppercase;
}
.byp-input.dropdown select{
    text-transform: uppercase;
    width: 100%;
    padding: 8px 15px;
    height: 32px;
    font-size: 12px;
    line-height: 18px;
}
.byp-input.dropdown.disabled{
    opacity: 0.5;
}
.byp-result{
    float: left;
    width: 510px;
    margin-right: 30px;
    position: relative;
}
#print_data{
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
}
#print_data i{
    color: #424242;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    padding: 6px;
}
.byp-resultdata{
    /*background: #fff;
    border: 1px solid #d5d5d5;
    padding-top: 10px;*/
    position: relative;
}
.byp-result-title{
    color: #424242;
    padding-bottom: 11px;
    font-style: italic;
}
.byp-result-list ul{
    padding: 0;
}
.byp-result-list ul li{
    margin-bottom: 10px;
    height: 20px;
    padding: 7px 0;
    background: #ffffff;
}
.result-item{
    color: #424242;
    float: left;
    width: 345px;
    padding-left: 10px;
}
.result-item span{
    color: #F00;
}
.result-price{
    color: #323c8d;
    float: left;
    width: 110px;
    margin-right: 10px;
    text-align: right;
}
.result-delete{
    float: right;
    width: 20px;
    height: 20px;
    text-align: center;
    padding-right: 10px;
}
.result-delete i{
    color: #e31e24;
}
.byp-result-total{
    margin: 0 30px;
}
.byp-result-left{
    float: left;
    width: 295px;
    margin-right: 30px;
    background: #ffffff;
    padding: 5px 10px;
}
.byp-result-right{
    float: right;
    background: #ffffff;
    padding: 5px 10px;
    width: 491px;
}
.total-label{
    float: left;
    line-height: 30px;
    color: #424242;
    font-weight: bold;
    font-style: italic;
}
.total-amount{
    width: 100px;
    height: 20px;
    padding: 5px 10px;
    float: right;
    text-align: right;
    color: #e31e24;
    font-weight: 700;
    line-height: 20px;
}
.total-qty{
    width: 50px;
    height: 20px;
    padding: 5px 10px;
    float: right;
    text-align: right;
    color: #e31e24;
    font-weight: 700;
    line-height: 20px;
    padding-right: 20px;
}
.byp-form{
    margin-top: 20px;
    background: #bbbbbb;
    padding: 20px 30px;
}
.byp-frominput{
    float: left;
    width: 250px;
    margin-right: 15px;
}
.byp-frominput input{
    background: #fff;
    font-size: 16px;
    color: #424242;
    line-height: 22px;
    padding: 2px 8px;
    width: 230px;
    border: 2px solid #fff;
}
.byp-frominput input.error{
    border-color: #F00;
}
.byp-frominput input::-webkit-input-placeholder {
    color: #666666;
}
.byp-frominput input:-moz-placeholder {
    color: #666666;
}
.byp-frominput input::-moz-placeholder {
    color: #666666;
}
.byp-frominput input:-ms-input-placeholder {
    color: #666666;
}

.byp-frominput.btn{
    margin-right: 0;
    width: 516px;
    margin-top: 15px;
}
.byp-frominput.btn a{
    display: inline-block;
    background: #323c8d;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    padding: 4px 0;
    width: 100%;
    color: #fff;
}
.mani_box-recaptcha{
    float: right;
}
.mani_box-input{
    float: left;
    width: 530px;
}
.download-box{
    padding: 2px 15px;
    background: #f5f5f5;
    border: 2px solid #d5d5d5;
    float: left;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    color: #424242;
}
.download-box i{
    color: #424242;
    font-size: 20px;
    line-height: 20px;
    padding-left: 5px;
    vertical-align: middle;
    position: relative;
}
.prod-price{
    color: #e31e24;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding-top: 5px;
    font-style: italic;
}
.product-loader{
    text-align: center;
    padding: 100px 0;
    display: none;
}
.product-loader img{
    width: 400px;
}
.dialog-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #13304C;
    padding: 20px 30px;
    border-bottom: 1px solid #E1E8EE;
    position: relative;
    font-weight: 700;
}
.dialog-title .dialog-close{
    position: absolute;
    right: 20px;
    top: 18px;
    cursor: pointer;
}
.dialog-close i{
    width: 20px;
    height: 20px;
    color: #BDBDBD;
    font-size: 20px;
    line-height: 20px;
}
.dialog-content{
    padding: 30px;
    padding-top: 22px;
}
.dialog-row{
    padding-bottom: 20px;
}

.dialog-row.last{
    padding-bottom: 0;
}
.dialog-col{
    float: left;
    width: 30%;
    margin-right: 5%;
}
.dialog-col.half{
    width: 65%;
    margin-right: 5%;
}
.dialog-col.last{
    margin-right: 0;
}
.dialog-col.full{
    float: none;
    width: 100%;
}
.dialog-col .dropdown{
   border: 2px solid #EEEEEE;
    width: 100%;
    height: 42px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: url(../images/down_arrow1.svg) no-repeat #ffffff;
    background-position: right 20px center;
}
.dialog-col .dropdown.error{
    border-color: #F00;
}
.dialog-col .dropdown select{
    color: #BDBDBD;
    font-size: 12px;
    line-height: 19px;
    padding: 11px 5% 5px 5%;
    width: 100%;
}
.dialog-col input{
    border: 2px solid #EEEEEE;
    height: 19px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font-size: 14px;
    line-height: 19px;
    color: #424242;
    padding: 9px 5% 10px 5%;
    width: 90%;
    overflow: hidden;
}

.dialog-col input.error{
    border-color: #F00;
}
.dialog-col textarea{
    border: 2px solid #EEEEEE;
    height: 150px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font-size: 14px;
    line-height: 19px;
    color: #424242;
    padding: 9px 2% 10px 2%;
    width: 96%;
    resize: none;
}
.dialog-col textarea.error{
    border-color: #F00;
}
.dialog-col input::-webkit-input-placeholder, .dialog-col textarea::-webkit-input-placeholder {
    color: #BDBDBD;
    opacity: .8;
}
.dialog-col input:-moz-placeholder, .dialog-col textarea:-moz-placeholder {
    color: #BDBDBD;
    opacity: .8;
}
.dialog-col input::-moz-placeholder, .dialog-col textarea::-moz-placeholder {
    color: #BDBDBD;
    opacity: .8;
}
.dialog-col input:-ms-input-placeholder, .dialog-col textarea:-ms-input-placeholder {
    color: #BDBDBD;
    opacity: .8;
}
.dialog-btn{
    width: 100%;
    float: right;
}
.dialog-btn a{
    display: inline-block;
    color: #fff;
    height: 42px;
    line-height: 42px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: none;
}
.dialog-error{
    font-weight: 400;
    line-height: 20px;
    color: #43CB83;
    font-style: italic;
    font-size: 14px;
    padding: 10px 0;
}
.dialog-success{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 32px;
    color: #43CB83;
    font-style: italic;
    font-size: 24px;
    padding: 100px 30px;
    text-align: center;
    display: none;
}
.dialog-success.error{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    color: #43CB83;
    padding: 10px 0;
}
.dialog-col .captcha-box{
    float: left;
    width: 45%;
    margin-right: 10%;
    height: 46px;
}
.dialog-col .captcha-input{
    float: left;
    width: 45%;
    margin-right: 0;
}
.success-message{
    text-align: center;
    color: #43CB83;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
    padding-top: 10px;
    display: none;
}
.success-message.byp{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;
    height: 34px;
    width: 34px;

}

.byp-number{
    float: right;
    width: 50px;
    margin-bottom: 10px;
    border: 1px solid #d5d5d5;
    background: #fff;
    height: 32px;
}
.byp-number input{
    width: 50px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 12px;
    line-height: 18px;
}
#result-print{
    display: none;
}
#result-print table{
    border: 1px solid #424242;
}
#result-print table tr{
    border-bottom: 1px solid #424242;
}
#result-print table tr td{
    border-right: 1px solid #424242;
    padding: 10px;
}
#result-print table tr td:nth-child(1){
    text-align: center;
}
#result-print table tr td:nth-child(3){
    text-align: right;
}
#final_amt{
    font-weight: bold;
}
.quote-title{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.quote-subtitle{
    padding-bottom: 20px;
    text-align: center;
    padding-top: 50px;
}
.quote-line{
    padding-top: 20px;
    text-align: right;
    padding-right: 20px;
}
@media print {
    #result-print{
        display: block;
    }
}
.print_table{
    margin: 0 20px;
}
.vendor-item{
    border: 2px solid #d5d5d5;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;;
    margin-bottom: 30px;
    padding-top: 15px;
}
.vendor-name{
    color: #323c8d;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.vendor-detail{
    padding-left: 10px;
    padding-right: 10px;   
}
.vendor-detail p{
    font-size: 14px;
    line-height: 20px;
    color: #424242;
    padding-bottom: 10px;
}
.vendor-brands{
    background: #f1f1f1;
    color: #424242;
    padding:5px 10px;
}
.vendor-brands span{
    font-weight: bold;
    color: #323c8d;
}
#cataccordion{
    font-family:Roboto,sans-serif;
    font-size: 16px;
}
#cataccordion h4{
    color: #323c8d;
    background: none;
    border: none;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    box-shadow: none;
    font-weight: 700;
}
#cataccordion h4.ui-state-active{
    color: #e31e24;
}
#cataccordion h4 span{
    display: none;
}
#cataccordion h4 i{
    color: #323c8d;
    padding-right:5px;
    position: relative;
    display: inline;
    margin-top: -2px;
}
.cat-container{
    padding: 15px;
}
@page 
    {
        size: auto;   /* auto is the initial value */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }
      .signup-dialog{
    top: 130px !important;
    border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;


    position: fixed;
}
.ui-widget-overlay{
    background: #000;

    opacity: .7;
}
.dialog-img img{
    height: 500px;
    width: 500px;
    margin: 0 auto;
}
.dialog-img{
    height: 530px;
    width: 500px;
    
}
.ui-dialog .ui-dialog-content{
    padding: 0px;
}
.dialog-titlee{
    float: left;
    color: #000;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    padding-top: 7px !important;
    padding-left: 10px !important;
    padding-bottom: 0px !important;
    padding-right: 0px!important;
}

.btn-signup-dialog a{
    font-size: 16px;
    padding: 5px 10px !important;
    font-weight: 600;
    line-height: 18px;
    background: #323c8d;
    color: #fff;
    margin-right: 10px;
    display: inline-block;
}
.btn-signup-dialog a:hover{
    background: #e31e24;    
}
.btn-signup-dialog{
    float: right;
}
.dialog-close i{
    color: #323c8d;
}
body.nomove{
    overflow: hidden;
}
.dialog-close img{
    height: 20px;
    width: 20px;
    float: right;
    cursor: pointer;
}

#signup-dialog{
    display: none;
}
.logo_contain{
    width: 750px;
    margin: 0 auto;
    margin-top: 100px;
    height: auto;
}
.error-text1{
    float: left;
    margin-right: 52px;
    font-size: 200px;
    line-height: 260px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #e31e24;
}
.error-text1 span{
    color: #323c8d;
}
.error-text2{
    float: left;
    margin-top: 50px;
}
.btn-click a{
    padding: 10px 25px;
    border: 2px solid #323c8d;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
}

.ohshit {
    font-size: 70px;
    line-height: 55px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    color: #323c8d;
    margin-bottom: 20px;
}
.ohshit span {
    color: #e31e24;
}
.ohshit1 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: #e31e24;
    font-style: italic;
    margin-bottom: 15px;
}
.btn-click {
    margin-top: 30px;
    margin-bottom: 80px;
    text-align: center;
}
.btn-click a {
    padding: 15px 50px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    color: #323c8d;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
}
.btn-click a:hover{
    background-color: #323c8d;
    color: #fff;
    
}
.baseprice{
    font-size: 16px;
    font-weight: 400;
    color: #323c8d;
    padding-bottom: 8px;
    padding-top: 20px;
    border-top: 1px solid #E0E0E0; 
}
.baseprice i{
    padding-right: 5px;
}
.baseprice span{
    color: #666666;
}

.gstrate{
    font-size: 16px;
    font-weight: 400;
    color: #323c8d;
    padding-bottom: 8px;  

}
.gstrate i{
    padding-right: 5px;
}
.gstrate span{
    color: #666666;
}
.productprice{
    font-size: 16px;
    font-weight: 700;
    color: #323c8d;
    padding-bottom: 20px;      
}
.productprice i{
    padding-right: 5px;
}
.productprice span{
    color: #323c8d;
}

@charset "utf-8";*,.material-icons{-webkit-font-smoothing:antialiased}.material-icons,audio,canvas,video{display:inline-block}:focus,a{outline:0}.cf:after,.cf:before,blockquote:after,blockquote:before,q:after,q:before{content:""}.cf:after,.clear{clear:both}*,body{padding:0;margin:0}.ui-selectmenu-button,a{text-decoration:none;cursor:pointer}@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:local('Material Icons'),local('MaterialIcons-Regular'),url(http://assets.onewebservicesin.netdna-cdn.com/assets/fonts/material-icons.woff2) format('woff2')}.material-icons{font-family:'Material Icons';font-weight:400;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:'liga'}a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,iframe,img,input,ins,kbd,label,legend,li,object,ol,option,p,pre,q,s,samp,select,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var{margin:0;padding:0;border:0;outline:0;font-size:100%}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio:not([controls]){display:none;height:0}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}nav ol,nav ul,ul,ul li{list-style:none}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;font-family:'Open Sans',sans-serif}td,textarea{vertical-align:top}body,h1,h2,h3,h4,h5,h6{font-family:Roboto,sans-serif}textarea{overflow:auto}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:none;cursor:pointer}caption,td,th{text-align:left;font-weight:400}blockquote,q{quotes:"" ""}table{border:0;border-collapse:collapse;border-spacing:0}img{border:0;max-width:100%}.none{display:none}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}.cf:after,.cf:before{display:table}p{font-size:14px;line-height:22px;padding-bottom:30px;color:#252525}h1,h2,h3,h4,h5,h6{font-weight:700}h1{font-size:32px;line-height:36px}h2{font-size:28px;line-height:32px}body{color:#424242;font-size:16px;font-weight:400}button::-moz-focus-inner,input[type=file]>input[type=button]::-moz-focus-inner,input[type=button]::-moz-focus-inner,input[type=reset]::-moz-focus-inner,input[type=submit]::-moz-focus-inner{border:1px dotted transparent}footer,header,section{margin:0}.default-btn{background:#43CB83;border:1px solid #34D578;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;font-family:Montserrat,sans-serif;color:#fff;font-weight:400;line-height:48px;width:100%;text-align:center;height:48px;font-size:14px;letter-spacing:1.4px;position:relative;text-transform:uppercase}.default-btn:hover{background:#1cbd60}.preloader{display:none}.ui-front{z-index:99}.ui-front.sticky{z-index:100}.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;width:16px;height:16px}.ui-widget-content{background:#fff;color:#444;border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;box-shadow:0 2px 5px 0 rgba(0,0,0,.26);-moz-box-shadow:0 2px 5px 0 rgba(0,0,0,.26);-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.26)}.ui-menu .ui-menu-item{position:relative;margin:0;padding:10px 10px 10px 22px;cursor:pointer;min-height:0;font-size:.875em;color:#424242}.ui-menu .ui-menu-item.ui-state-focus,.ui-menu .ui-menu-item:hover{background:#f5f5f5;border:none}.ui-selectmenu-menu{padding:0;margin:0;position:absolute;top:0;left:0;display:none}.ui-selectmenu-menu.sticky{position:fixed}.ui-selectmenu-menu .ui-menu{overflow-y:scroll;overflow-x:hidden;padding-bottom:1px;max-height:300px}.ui-selectmenu-open{display:block}.ui-selectmenu-button{display:inline-block;overflow:hidden;position:relative;border:2px solid #eaeaeb;background:#eaeaeb}.ui-selectmenu-button span.ui-icon{right:.5em;left:auto;margin-top:-5px;position:absolute;top:50%}.ui-selectmenu-button span.ui-icon i{color:#444;position:absolute;top:-7px;right:-3px;text-indent:0;font-size:1.5em}.ui-selectmenu-button span.ui-icon:hover i{color:#1cbd60}.ui-selectmenu-button span.ui-selectmenu-text{padding:6px 40px 6px 22px;line-height:24px;font-size:.875em;font-weight:400;color:#424242;text-align:left;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup{font-size:1em;font-weight:700;line-height:1.5;padding:2px .4em;margin:.2em 0 0;height:auto;border:0;background:#cdd2d5}.ui-accordion .ui-accordion-header{display:block;cursor:pointer;position:relative;margin:2px 0 0;padding:.5em .5em .5em .7em;min-height:0;font-size:100%}.ui-accordion .ui-accordion-icons{padding-left:1em}.ui-accordion .ui-accordion-icons .ui-accordion-icons{padding-left:2.2em}.ui-accordion .ui-accordion-header .ui-accordion-header-icon{position:absolute;right:.5em;top:50%;margin-top:-10px;text-indent:0;left:inherit}.ui-accordion .ui-accordion-header .ui-accordion-header-icon i{font-size:1em;width:16px;height:16px}.ui-accordion .ui-accordion-content{padding:0;overflow:auto;border:none}.no-scroll{overflow:hidden;position:fixed;width:100%}.zmdi{font-size:1.5em;width:24px;height:24px;text-align:center}.link-effect a{padding:0 0 10px}.link-effect a::after{position:absolute;top:100%;left:0;width:100%;height:1px;background:#fff;content:'';opacity:0;-webkit-transition:height .3s,opacity .3s,-webkit-transform .3s;-moz-transition:height .3s,opacity .3s,-moz-transform .3s;transition:height .3s,opacity .3s,transform .3s;-webkit-transform:translateY(-10px);-moz-transform:translateY(-10px);transform:translateY(-10px)}.link-effect a:focus::after,.link-effect a:hover::after{height:3px;opacity:1;-webkit-transform:translateY(0);-moz-transform:translateY(0);transform:translateY(0)}.ui-dialog{border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;border:1px solid #fff;padding:0;z-index:89;box-shadow:0 10px 40px 0 #424242;-moz-box-shadow:0 10px 40px 0 #424242;-webkit-box-shadow:0 10px 40px 0 #424242}.ui-dialog .ui-dialog-content{padding:0;overflow:hidden}.ui-dialog-titlebar{display:none}.ui-widget-overlay{background-color:rgba(0,0,0,.5);opacity:1}ul.ui-autocomplete{height:108px;overflow:hidden;box-shadow:none}ul.ui-autocomplete li{font-weight:400;font-family:'Open Sans',sans-serif}ul.ui-autocomplete li:hover{background:#f5f5f5;border:none;font-weight:400}button.ui-checkbox{border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;border:2px solid #13304C;background:#34D578;width:20px;height:20px}button.ui-checkbox span.ui-icon-check{background:url(../images/check_arrow.png) no-repeat;width:16px;height:16px;margin-top:-6px;margin-left:-6px}button.ui-checkbox span.ui-button-text{padding:0}::-webkit-input-placeholder{color:#fff;opacity:.5}FF 4-18:-moz-placeholder{color:#fff;opacity:.5}FF 19+::-moz-placeholder{color:#fff;opacity:.5}IE 10+:-ms-input-placeholder{color:#fff;opacity:.5}.typed-cursor{opacity:1;font-weight:100;-webkit-animation:blink .7s infinite;-moz-animation:blink .7s infinite;-ms-animation:blink .7s infinite;-o-animation:blink .7s infinite;animation:blink .7s infinite}@-keyframes blink{0%,100%{opacity:1}50%{opacity:0}}@-webkit-keyframes blink{0%,100%{opacity:1}50%{opacity:0}}@-moz-keyframes blink{0%,100%{opacity:1}50%{opacity:0}}@-ms-keyframes blink{0%,100%{opacity:1}50%{opacity:0}}@-o-keyframes blink{0%,100%{opacity:1}50%{opacity:0}}.animated{-webkit-animation-duration:3s;animation-duration:3s;-webkit-animation-fill-mode:both;animation-fill-mode:both}@-webkit-keyframes tada{0%{-webkit-transform:scale(1)}10%,20%{-webkit-transform:scale(.9) rotate(-3deg)}30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(3deg)}40%,60%,80%{-webkit-transform:scale(1.1) rotate(-3deg)}100%{-webkit-transform:scale(1) rotate(0)}}@keyframes tada{0%{transform:scale(1)}10%,20%{transform:scale(.9) rotate(-3deg)}30%,50%,70%,90%{transform:scale(1.1) rotate(3deg)}40%,60%,80%{transform:scale(1.1) rotate(-3deg)}100%{transform:scale(1) rotate(0)}}.tada{-webkit-animation-name:tada;animation-name:tada}@-webkit-keyframes swing{100%,20%,40%,60%,80%{-webkit-transform-origin:top center}20%{-webkit-transform:rotate(15deg)}40%{-webkit-transform:rotate(-10deg)}60%{-webkit-transform:rotate(5deg)}80%{-webkit-transform:rotate(-5deg)}100%{-webkit-transform:rotate(0)}}@keyframes swing{20%{transform:rotate(15deg)}40%{transform:rotate(-10deg)}60%{transform:rotate(5deg)}80%{transform:rotate(-5deg)}100%{transform:rotate(0)}}.swing{-webkit-transform-origin:top center;transform-origin:top center;-webkit-animation-name:swing;animation-name:swing}@-webkit-keyframes bounce{0%,100%,20%,50%,80%{-webkit-transform:translateY(0)}40%{-webkit-transform:translateY(-30px)}60%{-webkit-transform:translateY(-15px)}}@keyframes bounce{0%,100%,20%,50%,80%{transform:translateY(0)}40%{transform:translateY(-30px)}60%{transform:translateY(-15px)}}.bounce{-webkit-animation-name:bounce;animation-name:bounce}@-webkit-keyframes sk-rotateplane{0%{-webkit-transform:perspective(120px)}50%{-webkit-transform:perspective(120px) rotateY(180deg)}100%{-webkit-transform:perspective(120px) rotateY(180deg) rotateX(180deg)}}@keyframes sk-rotateplane{0%{transform:perspective(120px) rotateX(0) rotateY(0);-webkit-transform:perspective(120px) rotateX(0) rotateY(0)}50%{transform:perspective(120px) rotateX(-180.1deg) rotateY(0);-webkit-transform:perspective(120px) rotateX(-180.1deg) rotateY(0)}100%{transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);-webkit-transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg)}}@-webkit-keyframes sk-stretchdelay{0%,100%,40%{-webkit-transform:scaleY(.4)}20%{-webkit-transform:scaleY(1)}}@keyframes sk-stretchdelay{0%,100%,40%{transform:scaleY(.4);-webkit-transform:scaleY(.4)}20%{transform:scaleY(1);-webkit-transform:scaleY(1)}}

